<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,&#xD;&#xA;              Microsoft.Practices.Unity.Configuration"
                                                      />
	</configSections>

	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<typeAliases>
			<typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
		</typeAliases>
		<containers>
			<container name="Default">
				<type type="Core.Base.Data.SqlServer.Factory.IContextFactory`1[[HCRGUniversity.Core.Data.SqlServer.HCRGUniversityDBContext, HCRGUniversity.Core.Data.SqlServer]], Core.Base.Data.SqlServer" mapTo="Core.Base.Data.SqlServer.Factory.BaseContextFactory`1[[HCRGUniversity.Core.Data.SqlServer.HCRGUniversityDBContext, HCRGUniversity.Core.Data.SqlServer]], Core.Base.Data.SqlServer">
					<constructor />
				</type>
				<type type="Core.Base.Data.IUnitOfWork, Core.Base.Data" mapTo="Core.Base.Data.SqlServer.BaseUnitOfWork`1[[HCRGUniversity.Core.Data.SqlServer.HCRGUniversityDBContext, HCRGUniversity.Core.Data.SqlServer]], Core.Base.Data.SqlServer">
				</type>
				<!--************************* Repo ******************************************************************************************************** -->
				
				<type type="HCRGUniversity.Core.Data.IUserRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.UserRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<!--<type type="HCRGUniversity.Core.Data.IClientUserRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.ClientUserRepository, HCRGUniversity.Core.Data.SqlServer"></type>-->
				<type type="HCRGUniversity.Core.Data.IAboutUsRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.AboutUsRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.ICarouselSetUpRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.CarouselSetUpRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.ICollegeRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.CollegeRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEducationRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EducationRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IProfessionRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.ProfessionRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEducationProfessionRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EducationProfessionRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEducationFormatRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EducationFormatRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEducationFormatAvailableRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EducationFormatAvialableRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.ICollegeEducationRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.CollegeEducationRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEducationTypesAvailableRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EducationTypesAvailableRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEducationShoppingTempRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EducationShoppingTempRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEducationDetailPageRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EducationDetailPageRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IDiscountCouponRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.DiscountCouponRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.INewsRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.NewsRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.INewsSectionRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.NewsSectionRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.INewsVideoRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.NewsVideoRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.INewsPhotoRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.NewsPhotoRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IResourceRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.ResourseRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEducationModuleRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EducationModuleRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEducationModuleFileRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EducationModuleFileRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IFileTypeRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.FileTypeRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEducationShoppingRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EducationShoppingRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IOrderRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.OrderRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IMyEducationRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.MyEducationRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IMyEducationModuleRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.MyEducationModuleRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IFAQRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.FAQRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IFAQCategoryRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.FAQCategoryRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IExamQuestionRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.ExamQuestionRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IPreTestQuestionRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.PreTestQuestionRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEducationExamQuestionRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EducationExamQuestionRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEducationPreTestQuestionRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EducationPreTestQuestionRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IExamRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.ExamRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IPreTestRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.PreTestRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEvaluationRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EvaluationRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEvaluationQuestionRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EvaluationQuestionRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEducationEvaluationRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EducationEvaluationRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IPreTestResultRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.PreTestResultRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IPreTestQuestionResultRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.PreTestQuestionResultRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IExamResultRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.ExamResultRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IExamQuestionResultRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.ExamQuestionResultRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEvaluationResultRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EvaluationResultRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEvaluationQuestionResultRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EvaluationQuestionResultRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEvaluationAnswerRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EvaluationAnswerRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IFacultyRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.FacultyRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IHomeContentRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.HomeContentRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IAccreditorRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.AccreditorRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEducationCredentialRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EducationCredentialRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEventRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EventRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IIndustryResearchRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.IndustryResearchRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IUserResetPasswordRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.UserResetPasswordRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.ILogSessionRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.LogSessionRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.ITrainingAndSeminarRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.TrainingAndSeminarRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IAccreditationRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.AccreditationRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IProductRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.ProductRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IPrivacyPolicyRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.PrivacyPolicyRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.ITermsConditionRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.TermsConditionRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.INewsLetterRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.NewsLetterRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IProductShoppingTempRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.ProductShoppingTempRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IProductShoppingRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.ProductShoppingRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IReturnPolicyRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.ReturnPolicyRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IDeliveryTermRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.DeliveryTermRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IProductQuantityRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.ProductQuantityRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.ICertificationRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.CertificationRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IBillingAddressRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.BillingAddressRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IShippingAddressRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.ShippingAddressRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IUserCardDetailRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.UserCardDetailRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IStateRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.StateRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IShippingPaymentRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.ShippingPaymentRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IShippingMethodRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.ShippingMethodRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IUserSubscriptionRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.UserSubscriptionRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEnterprisePackageRegisterRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EnterprisePackageRegisterRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IUserAllAccessPassRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.UserAllAccessPassRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.ISuggestCourseRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.SuggestCourseRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IEnterpriseRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.EnterpriseRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.ICertificationTitleOptionRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.CertificationTitleOptionRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IProductShippingDetailRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.ProductShippingDetailRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IOrganizationContactRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.OrganizationContactRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IOrganizationRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.OrganizationRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IIndustryRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.IndustryRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IClientRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.ClientRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IPlanRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.PlanRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IMenuRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.MenuRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IUserMenuGroupRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.UserMenuGroupRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IUserMenuPermissionRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.UserMenuPermissionRepository, HCRGUniversity.Core.Data.SqlServer"></type>
		        <type type="HCRGUniversity.Core.Data.ICoursePlanRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.CoursePlanRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IUserPlanRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.UserPlanRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				<type type="HCRGUniversity.Core.Data.IClientTypeRepository, HCRGUniversity.Core.Data" mapTo="HCRGUniversity.Core.Data.SqlServer.Repository.ClientTypeRepository, HCRGUniversity.Core.Data.SqlServer"></type>
				
				<!--Business Layer *****************************************************************************************************************************************************-->
				<type type="HCRGUniversity.Core.BL.IUser, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.UserImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IAboutUs, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.AboutUsImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.ICarouselSetUp, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.CarouselSetUpImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.ICollege, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.CollegeImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IEducation, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.EducationImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IProfession, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.ProfessionImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IEducationProfession, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.EducationProfessionImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IEducationFormat, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.EducationFormatImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IEducationFormatAvailable, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.EducationFormatAvialableImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IEducationShoppingTemp, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.EducationShoppingTempImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IDiscountCoupon, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.DiscountCouponImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.INews, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.NewsImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.INewsSection, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.NewsSectionImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.INewsVideo, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.NewsVideoImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.INewsPhoto, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.NewsPhotoImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IResource, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.ResourceImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IEducationModule, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.EducationModuleImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IEducationModuleFile, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.EducationModuleFileImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IFileType, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.FileTypeImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IEducationShopping, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.EducationShoppingImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IMyEducation, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.MyEducationImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IFAQ, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.FAQImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IExamQuestion, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.ExamQuestionImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IExamInternal, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.ExamInternalImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IFaculty, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.FacultyImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IEducationCredential, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.EducationCredentialImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.ILogSession, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.LogSessionImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IProduct, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.ProductImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IBillingAddress, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.BillingAddressImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IShippingAddress, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.ShippingAddressImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IUserCardDetail, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.UserCardDetailImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IState, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.StateImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IShippingPayment, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.ShippingPaymentImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IShippingMethod, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.ShippingMethodImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IUserSubscription, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.UserSubscriptionImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IEnterprisePackageRegister, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.EnterprisePackageRegisterImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IUserAllAccessPass, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.UserAllAccessPassImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.ISuggestCourse, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.SuggestCourseImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IEnterprise, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.EnterpriseImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.ICertificationTitleOption, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.CertificationTitleOptionImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IProductShippingDetail, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.ProductShippingDetailImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IOrganizationContact, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.OrganizationContactImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IIndustry, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.IndustryImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IClient, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.ClientImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IOrganization, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.OrganizationImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IPlan, HCRGUniversity.Core.BL" mapTo="HCRGUniversity.Core.BL.Implementation.PlanImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IMenu, HCRGUniversity.Core.BL" mapTo=" HCRGUniversity.Core.BL.Implementation.MenuImpl, HCRGUniversity.Core.BL.Implementation"></type>
				<type type="HCRGUniversity.Core.BL.IClientType, HCRGUniversity.Core.BL" mapTo=" HCRGUniversity.Core.BL.Implementation.ClientTypeImpl, HCRGUniversity.Core.BL.Implementation"></type>
				
			</container>
		</containers>
	</unity>


	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<connectionStrings>
		<add name="HCRGUniversityDBContext" connectionString="Data Source=VSA-SAT-DB1\SQL2K14, 1435;Initial Catalog=NEP;User Id=uttam;Password=uttam;Connect Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>


	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	<system.serviceModel>

		<behaviors>
			<endpointBehaviors>
				<behavior name="HCRGUniversityService.ProductServiceAspNetAjaxBehavior">
					<enableWebScript />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
		  minFreeMemoryPercentageToActivateService="0" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
